<div class="overallContainer">
  <p-toast></p-toast>
  <div class="authForm">
    <form #authForm="ngForm">
      <div class="p-field">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-user"></i>
          <input
            id="float-input"
            name="email"
            type="text"
            pInputText
            ngModel
            #email="ngModel"
          />
          <label for="float-input">Username</label>
        </span>
      </div>
      <div class="p-field">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            id="float-input"
            name="password"
            type="password"
            pInputText
            ngModel
            #password="ngModel"
          />
          <label for="float-input">Password</label>
        </span>
      </div>
      <div class="forgetOrNew">
        <a routerLink="/auth">Forget your password ?</a>
        <a routerLink="/auth/signup">New user ?</a>
      </div>
      <div class="formSubmitButton">
        <button
          pButton
          pRipple
          type="button"
          label="Submit"
          class="p-button-raised"
          (click)="onSubmit(authForm)"
        ></button>
      </div>
    </form>
  </div>
</div>
