<div class="customersContainer">
  <div class="customersTable">
    <p-toast></p-toast>

    <!-- * Tableau de données -->
    <p-table
      #dt
      [value]="customers"
      [globalFilterFields]="[
        'customerName',
        'email',
        'address',
        'city',
        'commercialId'
      ]"
      [(selection)]="selectedCustomers"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      [scrollable]="true"
      [rows]="2"
      scrollHeight="600px"
      [virtualScroll]="true"
      [virtualRowHeight]="34"
    >
      >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-raised"
            (click)="openNew()"
          ></button>
          <button
            pButton
            pRipple
            label="Delete"
            icon="pi pi-trash"
            class="p-button-raised p-button-danger"
            (click)="deleteSelectedCustomers()"
            [disabled]="!selectedCustomers || !selectedCustomers.length"
          ></button>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th [style]="{ width: '30px' }">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="customerName">
            Name <p-sortIcon field="customerName"></p-sortIcon>
          </th>
          <th pSortableColumn="email">
            Email <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="address">
            Address <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th pSortableColumn="city" [style]="{ width: '100px' }">
            City <p-sortIcon field="city"></p-sortIcon>
          </th>
          <th pSortableColumn="phone" [style]="{ width: '120px' }">
            Phone <p-sortIcon field="phone"></p-sortIcon>
          </th>
          <th pSortableColumn="commercialId">
            Commercial <p-sortIcon field="commercialId"></p-sortIcon>
          </th>
          <th pSortableColumn="monitors">
            Monitors <p-sortIcon field="monitors"></p-sortIcon>
          </th>
          <th [style]="{ width: '100px' }">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td [style]="{ width: '30px' }">
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
          </td>
          <td>{{ customer.customerName }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.address }}</td>
          <td [style]="{ width: '100px' }">{{ customer.city }}</td>
          <td [style]="{ width: '120px' }">{{ customer.phone }}</td>
          <td>{{ customer.commercialId }}</td>
          <td>{{ customer.monitors }}</td>
          <td [style]="{ width: '100px' }">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-info p-mr-2"
              (click)="editCustomer(customer)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="deleteCustomer(customer)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- * Modale de création et d'édition -->
  <p-dialog
    [(visible)]="customerDialog"
    [style]="{ width: '450px' }"
    header="customer Details"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="customerName">Name</label>
        <input
          type="text"
          pInputText
          id="customerName"
          [(ngModel)]="customer.customerName"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.customerName"
          >CustomerName is required.</small
        >
      </div>
      <div class="p-field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          id="email"
          [(ngModel)]="customer.email"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.email"
          >Email is required.</small
        >
      </div>
      <div class="p-field">
        <label for="address">Address</label>
        <input
          type="text"
          pInputText
          id="address"
          [(ngModel)]="customer.address"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.address"
          >Address is required.</small
        >
      </div>
      <div class="p-field">
        <label for="city">City</label>
        <input
          type="text"
          pInputText
          id="city"
          [(ngModel)]="customer.city"
          required
          autofocus
        />
      </div>
      <div class="p-field">
        <label for="phone">Phone</label>
        <input
          type="text"
          pInputText
          id="phone"
          [(ngModel)]="customer.phone"
          required
          autofocus
        />
      </div>
      <div class="p-field">
        <label for="commercial">Commercial</label>
        <p-dropdown
          [options]="users"
          [(ngModel)]="selectedUser"
          optionLabel="lastname"
          appendTo="body"
        ></p-dropdown>
      </div>
      <div class="p-field">
        <label for="monitors">Monitors</label>
        <input
          type="text"
          pInputText
          id="monitors"
          [(ngModel)]="customer.monitors"
          required
          autofocus
        />
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveCustomer()"
        [disabled]="
          !customer.customerName ||
          !customer.address ||
          !customer.email ||
          !customer.phone
        "
      ></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
