.customersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .customersTable {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 75%;
    .p-datatable-header {
      display: flex;
      justify-content: center;
      padding: 5px;

      button,
      .p-input-icon-left {
        margin: 0px 10px;
      }
    }
    .p-datatable-tbody {
      td {
        padding: 5px;
      }
    }
  }
}
