<div class="overallContainer">
  <div class="homeTitle">
    <h1>Monitors Manager</h1>
  </div>
  <div class="cardsContainer">
    <div class="usersManager">
      <p-card styleClass="cardManager" [routerLink]="['/users']">
        <i class="pi pi-user"></i>
      </p-card>
    </div>
    <div class="customersManager">
      <p-card styleClass="cardManager" [routerLink]="['/customers']">
        <i class="pi pi-id-card"></i>
      </p-card>
    </div>
    <div class="monitorsManager">
      <p-card styleClass="cardManager" [routerLink]="['/monitors']">
        <i class="pi pi-video"></i>
      </p-card>
    </div>
    <div class="charts">
      <p-card styleClass="cardManager" [routerLink]="['/charts']">
        <i class="pi pi-chart-bar"></i>
      </p-card>
    </div>
  </div>
</div>
